body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hover-item:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
  text-decoration: underline;
  color: red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
